body {
	background-color: #DCDCDC;
}
#inputData {
	width: 300px;
	height: 200px;
	padding: 5px;
	margin: 3px;
}
h3 {
	margin: 5px;
	color: black;
}

.submit-btn {
	margin-top: 10px;
	float: right;
	margin: 5px;
}

button {
	background-color: #3bafda;
	border-color: #3bafda;
	color: white;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	border-radius: 4px;
	-webkit-user-select: none;
}
p.error {
	visibility: hidden;
	margin: 5px;
	color: #FF4500;
}